{% extends "frontend/layout.html" %}

{% block title %}
  Create Story
{% endblock %}

{% load crispy_forms_tags %}

{% block user_links %}
  <a class="nav-link" href="/login">Switch User</a>
  <a class="nav-link" href="/logout">Logout</a>
  <p class="nav-user">Welcome, {{ username }}</h4>
{% endblock user_links %}

{% block body %}
  <div class="story--container">
    <div class="story--title">
      <h1>Create a New Story Here</h1>
    </div>
    <div class="story--content">
      <form id="create-story">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="story--links">
          <button type="submit" class="btn btn-success" id="story-create-submit">Create Story</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}