{% extends "frontend/layout.html" %}
{% load static %} 

{% block title %}
  My Stories
{% endblock %}

{% block styles_and_scripts %}
  <link href="{% static 'frontend/stories.css' %}" rel="stylesheet">
  <script type="module" src="{% static 'frontend/my_stories.js' %}"></script>
{% endblock styles_and_scripts %}

{% block user_links %}
    <a class="nav-link" href="/login">Switch User</a>
    <a class="nav-link" href="/logout">Logout</a>
    <p class="nav-user">Welcome, {{ username }}</h4>
{% endblock user_links %}

{% block body %}
    <div id="my-stories-wrapper">
    </div>
{% endblock %}