{% extends 'frontend/layout.html' %}
{% load static %}

{% block title %}
    View Summary
{% endblock %}

{% block styles_and_scripts %}
    <link href="{% static 'frontend/tribe_summary.css' %}" rel="stylesheet">
    <script src="{% static 'frontend/tribe_summary.js' %}"></script>
{% endblock styles_and_scripts %}

{% block user_links %}
  {% if username %}
    <a class="nav-link" href="/login">Switch User</a>
    <a class="nav-link" href="/logout">Logout</a>
    <p class="nav-user">Welcome, {{ username }}</h4>
  {% else %}
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/register">Register</a>
  {% endif %}
{% endblock user_links %}

{% block body %}
    <div class="tribe--title">
        <h1>{{ name }}</h1>
    </div>
    <div class="tribe--container">
        <div class="tribe--image">
            <img class="tribe--image" src="{{ image }}" alt="{{ name }}">
        </div>
        <div class="tribe--content">
            <p>{{ summary }}</p>
        </div>
    </div>
    <div class="tribe--links">
        <h4>For more information, visit 
            <a href="{{ link }}">HERE!</a>
        </h4>
    </div>
{% endblock %}