hr {
  margin: 0 auto 50px auto;
  padding-top: 10px;
}

.story--container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  max-height: 800px;
}

.story--title {
  padding: 20px 0;
}

.story--content {
  overflow: auto;
  font-size: large;
}

.story--content--container {
  padding: 20px 0;
}

.story--created-by {
  font-size: large;
  margin-top: 10px;
}

.story--links {
  margin-top: 20px;
  margin-bottom: 20px;
}
