.Home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://s1.1zoom.me/big0/965/War_bonnet_Birds_Painting_Art_Indians_Beautiful_532262_1280x720.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 90vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-user {
  padding: 0.25rem 0;
  font-weight: 700;
  color: lightblue;
  margin-left: 1rem;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
}

.home {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.home:hover {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.25s linear;
}
