{% extends "app/layout.html" %}

{% block title %}
  Edit Story
{% endblock %}

{% load crispy_forms_tags %}

{% block user_links %}
  <a class="nav-link" href="/login">Switch User</a>
  <a class="nav-link" href="/logout">Logout</a>
  <p class="nav-user">Welcome, {{ username }}</h4>
{% endblock user_links %}

{% block body %}
  <div class="story--container">
    <div class="story--title">
      <h1>Edit the story here:</h1>
    </div>
    <div class="story--content">
      <form action="{% url 'app:update_story' story_id %} " method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="story--links">
          <button type="submit" class="btn btn-warning">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}